//Newsletter-block

.newsletter-block {
  background-color: $white;
  padding: 1.4rem;

  &__title {
    font-family: Montserrat, sans-serif;
    color: $primary;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.714rem;
    line-height: 1.5;
  }

  &__text {
    color: $gray-light;
    font-size: 1.143rem;
    line-height: 1.5;
  }

  &__form {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 1.357rem;
    font-family: Montserrat, sans-serif;
    color: $input-gray;
    font-size: 0.857rem;
    font-weight: 700;
    border: 1px solid $gray-light;
    height: 3.57rem;
  }
}